{% extends "base.html" %}
{% block title %} List of produse consumabile {% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">

            {% if all_pconsumabile %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Denumire</th>
                            <th>Brand</th>
                            <th>Model</th>
                            <th>Informatii</th>
                            <th>Tipul</th>
                            <th>Profil</th>

                        </tr>
                    </thead>

                    <tbody>
                        {% for pconsumabil in all_pconsumabile %}
                            <tr>
                                <td>{{ pconsumabil.denumire }}</td>
                                <td>{{ pconsumabil.brand }}</td>
                                <td>{{ pconsumabil.model }}</td>
                                <td>{{ pconsumabil.informatii }}</td>
                                <td>{{ pconsumabil.tipul }}</td>
                                <td>{{ pconsumabil.profil }}</td>
                                <td>
                                    <button type="button" class="btn btn-success">Buy</button>
                                </td>
                            </tr>

                        {% endfor %}
                    </tbody>
                </table>

            {% endif %}
            </div>
        </div>
    </div>

{% endblock %}