{% extends "base.html" %}
{% block title %} Details casier {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for casier in casier_details %}
            <div class="col-md-6 offset-md-3">
                <br>
                <div class="card text-center">
                    <div class="card-header">
                        Casier details
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Casier al firmei SC LaCucu SRL </h5>
                        <p class="card-text" style="font-size: 30px"> <b>{{ casier.nume }}</b> {{ casier.prenume }}</p>
                        <p class="card-text"> Telefon: {{ casier.tel }} </p>
                        <p class="card-text"> Email: {{ casier.email }}</p>
                        <p class="card-text"> About {{ casier.prenume }}: Angajat al firmei SC LACUCU SRL de 10 ani. </p>

                        <a href="{% url "contacts" %}" class="btn btn-primary" style="margin-left: 30px" > Go to contacts </a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}