{% extends "base.html" %}
{% block title %} Details secretara {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for secretara in secretara_details %}
            <div class="col-md-6 offset-md-3">
                <br>
                <div class="card text-center">
                    <div class="card-header">
                        Secretary details
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Secretara firmei SC LaCucu SRL </h5>
                        <p class="card-text" style="font-size: 30px"> <b>{{ secretara.nume }}</b> {{ secretara.prenume }}</p>
                        <p class="card-text"> Telefon: {{ secretara.tel }} </p>
                        <p class="card-text"> Email: {{ secretara.email }}</p>
                        <p class="card-text"> About {{ secretara.prenume }}: Persoana cu 5 ani experienta in contabilitate si dosare cu fonduri europene</p>

                        <a href="{% url "contacts" %}" class="btn btn-primary" style="margin-left: 30px" > Go to contacts </a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}